* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    background-image: url(gambar_banner/gambar-utama.jpg);
    background-size: cover;
    background-position: center;
}

form h2 {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: green;
}
form {
    margin: 50px auto;
    padding: 30px;
    width: 800px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    background-color: white;
}
form button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(200, 255, 200);
    cursor: pointer;
}
form button:hover {
    background-color: rgb(224, 224, 224);
}

form input {
    height: 30px;
}
form select {
    height: 30px;
}

form .form-grup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form .display-form {
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
.display-form .form-kiri {
    width: 50%;
}
.display-form .form-kanan {
    width: 50%;
}

@media screen and (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .display-form {
        width: 100%;
        flex-direction: column;
    }
    form .display-form {
        width: 100%;
        gap: 0;
    }
    form h2 {
        text-align: center;
        width: 100%;
        font-size: 31px;
    }
    form button {
        width: 100%;
    }
    form {
        width: 90%;
    }
    .display-form .form-kiri {
    width: 100%;
    }
    .display-form .form-kanan {
        width: 100%;
    }
}